
<div *ngIf="hero">
  <h2>{{hero.name | uppercase}} Details</h2>
  <ul class="heroes">
    <li><div><span>&nbsp;&nbsp;ID: </span>{{hero.id}}</div></li>
    <li><div><span>&nbsp;Name: </span>{{hero.name}}</div></li>
    <li><div><span>&nbsp;Sportart: </span>{{hero.typeOfSportName}}</div></li>
    <li><div><span>&nbsp;Gebühr: </span>{{hero.fee}}</div></li>
    <li><div><span>&nbsp;Ort: </span>{{hero.location}}</div></li>
    <li><div><span>&nbsp;Startdatum: </span>{{hero.startDate}}</div></li>
    <li><div><span>&nbsp;Enddatum: </span>{{hero.endDate}}</div></li>
    <li><div><span>&nbsp;Begegnungen: </span>{{hero.begegnungen}}</div></li>
  </ul>


  <button (click)="goBack()"><img src="assets/back.png" width="30px" />
  </button>
</div>




